<%= button_to("Go to Bands", bands_url, method: :get) %>

<body>
  <img src="https://cdn.meme.am/cache/instances/folder379/500x/75680379.jpg" title="There is no chance to survive, make your time">
</body>
